<h1>Join Chat</h1>
<div class="grid">
    <form action="/people/room" class="form login">

        <div class="form__field">
            <label for="login__username">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
                </svg>
                <span class="hidden">Display Name</span>
            </label>
            <input id="login__username" type="text" name="name" class="form__input" placeholder="Display Name" required autofocus>
        </div>

        <div class="form__field">
            <label for="login__password">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use>
                </svg>
                <span class="hidden">Room Name</span>
            </label>
            <input id="login__password" type="text" name="room" class="form__input" placeholder="Room Name" required>
        </div>

        <div class="form__field">
            <input type="submit" value="Join">
        </div>

    </form>
</div>

<footer class="footer">
    <p>&copy; 2018 Online World, Inc.</p>
</footer>
