<link rel="stylesheet" href="/css/index.css" />

<body onload="myFunction()" style="margin:0;">

  <div id="loader"></div>

  <div style="display:none;" id="myDiv" class="animate-bottom">
    <h3 class="moto">Welcome to the online world</h3>
    <nav>
      <ul class="circleButton">

        <li class="boobL">
          <a href="#">Single Chat</a>
        </li>
        <li class="boobR">
  
          <a href="/users/groupchat">Group Chat</a>
        
        </li>

      </ul>
    </nav>
  </div>

  <script type="text/javascript" src="/js/loader.js"></script>

</body>