<body onload="myFunction()" style="margin:0;">

  <div id="loader"></div>

  <div  id="myDiv" class="animate-bottom">
    <h2 class="titl">Welcome to the online world</h2>
    <img src="/img/1.png" alt="Fuck you!!" class="Icon">
    <br>
    <br>
    <a href="/people/groupchat" class="mutton">ENTER</a>
    <footer class="footer">
    <p>&copy; 2018 Online World, Inc.</p>
  </footer>
  </div>

  <script type="text/javascript" src="/js/loader.js"></script>



</body>
