<body onload="myFunction()" style="margin:0;">

  <div id="loader"></div>

  <div style="display:none;" id="myDiv" class="animate-bottom">
    <h3 id="nav" style="font-size:27px;">Welcome to the online world</h3>
    <nav>
      <ul class="circleButton">

        <li class="boobL">
          <a href="#">Single Chat</a>
        </li>
        <li class="boobR">

          <a href="/people/groupchat">Group Chat</a>

        </li>

      </ul>
    </nav>
    <footer class="footer">
    <p>&copy; 2018 Online World, Inc.</p>
  </footer>
  </div>

  <script type="text/javascript" src="/js/loader.js"></script>



</body>

