<h3>Register to go online</h3>
{{#if errors}} {{#each errors}}
<div class="alert alert-danger">{{msg}}</div>
{{/each}} {{/if}}

<div class="grid">
  <form action="/people/register" method="POST" class="form login">
    <div class="form__field">
      <label for="login__username">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
        </svg>
        <span class="hidden">Name</span>
      </label>
      <input id="login__username" type="text" name="name" class="form__input" placeholder="Name" required>
    </div>

    <div class="form__field">
      <label for="login__password">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use>
        </svg>
        <span class="hidden">Email</span>
      </label>
      <input id="login__password" type="text" name="email" class="form__input" placeholder="Email" required>
    </div>

    <div class="form__field">
      <label for="login__password">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use>
        </svg>
        <span class="hidden">Username</span>
      </label>
      <input id="login__password" type="text" name="username" class="form__input" placeholder="Username" required>
    </div>

    <div class="form__field">
      <label for="login__password">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use>
        </svg>
        <span class="hidden">Password</span>
      </label>
      <input id="login__password" type="password" name="password" class="form__input" placeholder="Password" required>
    </div>

    <div class="form__field">
      <label for="login__password">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use>
        </svg>
        <span class="hidden">Confirm Password</span>
      </label>
      <input id="login__password" type="password" name="password2" class="form__input" placeholder="Repeat Password" required>
    </div>

    <div class="form__field">
      <input type="submit" value="Sign Up">
    </div>
  </form>
</div>

<footer class="footer">
  <p>&copy; 2018 Online World, Inc.</p>
</footer>